
/* For UVA banner at top of home page*/
.banner {
    background: url('../photos/uva.jpeg') no-repeat center center;
    background-size: cover;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-self: flex-end; 
    color: #086952;
    font-size: 30px;
    font-weight: bolder;
}

/* Sign-in Button */
.sign-in {
    background-color: white; 
    color: #086952; /* Im choosing such random colors and fonts ... feel free to change anything */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end; /* Moves button to the bottom */
    margin-bottom: 10px;
}

.sign-in:hover {
    background-color: #7dc4a6;
}

/* container for the cards so they look formatted on the web page */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.card {
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img{
    width: 100px;
    height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}
